@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    margin: 3px;
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    color: black;
    align-items: center;
}

.container-fluid .stats ul {
    display: flex;
    list-style: none;
    margin: .5rem;
    margin-left: -8rem;
    justify-content: center;
    font-size: 11px;
    align-items: center;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    font-size: 11px;
}

.stats ul li {
    padding-left: 1.2rem;
}

.drop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.drop button {
    outline: none;
    border: 0;
    margin: 0!important;
    font-size: 11px!important;
    width: 60%!important;
    background: transparent;
    margin-top: -.5rem!important;
    padding: 5px!important;
}

.drop .selectpicker {
    width: 50%!important;
    margin: 0!important;
}

.drop button:focus {
    background: #fff!important;
}

.drop .flag-icon {
    border-radius: 10px!important;
    text-align: center;
    width: 5rem;
}

.dropdown-toggle::after {
    display: none;
}

.drop .currencies .flag-icon {
    border-radius: 50%;
    padding-left: 0!important;
    padding: 0!important;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding: 1rem;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -2px;
    vertical-align: middle;
}

.fa-euro-sign,
.fa-bitcoin,
.fa-ethereum,
.fa-usd-circle {
    padding-left: 1.6rem;
    padding-right: 1.5rem;
    font-size: 1.25rem;
}

.fa-usd-circle {
    color: rgb(4, 174, 66);
}

.fa-ethereum {
    color: black;
}

.fa-bitcoin {
    color: orange;
}

.fa-euro-sign {
    color: white;
    background-color: darkblue;
    border-radius: 50%;
    font-size: 1rem;
    padding: 5px 7px;
    margin: 0 1.2rem;
}

.moon .fa-moon {
    color: black;
    font-size: .85rem;
    justify-content: center;
    align-items: center;
}

.fa-moon:before {
    content: "\f186";
    position: absolute;
    top: 16px;
    left: 90%;
}

.coincap {
    position: absolute;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item {
    font-weight: 600;
    font-size: 14px;
}

.search-box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item {
    font-weight: 600;
    font-size: 14px;
}

.dropdown-item {
    padding: 15px;
    margin: 3px;
}

.dropdown-item:hover {
    background-color: rgb(197, 240, 243);
}

.dropdown-menu {
    width: 200px;
}

.collapse {
    font-weight: 500;
    color: black;
}

.input-group-text {
    background: #fff;
    border: 1px solid #222!important;
    border-right: 0px!important;
    outline: none;
    margin-right: -5px;
}

.form-control {
    border: 1px solid #222!important;
    border-left: 0px!important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    width: 50%!important;
    padding-left: 1rem;
}

.navbar {
    display: flex;
    font-size: 15px;
    font-weight: 500;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    margin: 0rem!important;
    padding: 0!important;
    align-items: center;
    margin-left: -5rem!important;
}

.navbar-brand {
    display: flex;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    margin: 0rem!important;
    padding: 0!important;
    align-items: center;
    margin-left: 5rem!important;
}

.fa-search {
    width: 10%;
}

.input-group {
    display: flex;
    width: fit-content;
}

.input-group-text {
    background: #fff;
    border: 1px solid #222!important;
    border-right: 0px!important;
    outline: none;
    width: 10%;
}

.form-control {
    border: 1px solid #222!important;
    border-left: 0px!important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    padding-left: 1rem;
}

.input-group input {
    width: 1%;
}

.navbar {
    background: transparent!important;
}

a {
    text-decoration: none;
    color: black;
}

.btn-primary a {
    color: white!important;
}